html,body{
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 font-size: 10pt;
 line-height: 1.2em;
    
}
body{
 padding-bottom: 3rem;
    background-color:rgb(50,50,50);
   color:white 
}

#drawing{height:95%; width:80%;
  border:5px solid red;
  position:absolute; top:0; left:20%}


#teistuff{
 position: fixed;
 top: 5rem;
 margin: 0 10%;
 background: white;
 border: 1px solid black;
 width: 60%;
      height:70%;
 padding: 2%;
 z-index: 10;
     color:black;
  overflow:scroll;
}

#controls{
  position: fixed;
  bottom: 0;
  background-color: green;
  padding: .3rem 2%;
  width: 100%;
  z-index: 9;
  height: 5%;
}

#helpLink{position:fixed; right:0; top:0; width:2em;
  margin:0; height:2em; border-radius:50%; border:2px solid white;
background-color:rgb(229, 186, 29); z-index:21; padding:0.5em;
text-align:center;cursor:pointer }

#help{position:fixed; right:0; top:0; width:80%;
background-color:rgb(28, 73, 21); z-index:20; padding:1em;
border:2px solid white}

#wrapper{position:absolute; left:0; top:20%;
width:100%; height:75%; border:3px solid yellow;
overflow:scroll;}


#editor{
  position:absolute;
  left:0;
  top:0;
    transform-origin: 0 0;
}

#canvas{
  cursor:crosshair;
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  top:0;
     transform-origin: 0 0;
}
.thumb {
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
#coords{
  background: yellow;
  opacity: 0.8;
  z-index: 999;
  position: absolute;
}
#imgarea{
  width: 80%;
  padding: 1%;
    position:absolute;
    left:20%;
}
pre#teiwrapper{
  font-size: .8rem;
  background: white;
  height: 90%;
  overflow: scroll;
  padding: .4rem;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#output header h1{
  font-size: 1rem;
}
#output h2{
  font-size: 1rem;
}
span.coord{
  display: inline-block;
  color: purple;
}
#currentCoords{
  background: white;
  padding: .4rem;
  margin-right: .3rem;
  float: right;
    color:black;
}
#currentCoords p{
  margin: 0;
  padding: 0;
  display: inline;
}
#pickfile input{
  font-size: 2rem;
  display: inline-block;
}
#pickfile{
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 1.2em;
}

*{box-sizing:border-box}


        #leftPan {
	
	width:20%;
	height:97%;
	position:fixed;
	left:0;
	top:0;
	background-color:rgb(50,50,50);
	color:white;
}

#shList{background-color:rgb(28, 73, 21); height:100%; border:2px solid white; padding:0.5em; overflow-y:scroll;}
#catList{background-color:rgb(83, 114, 9);height:100%; overflow-y:scroll;}
    
#annTab{background-color:rgb(28, 73, 21);  }
textarea{width:98%; margin:0.3em; background-color:rgb(229, 186, 29)}
input[type=text]{background-color:rgb(229, 186, 29); border-radius:0.2em; border:2px inset white;}
hr{background-color:white; height:3px; border:none}
select{width:20%;margin-left:0.5em; background-color:rgb(229, 186, 29); border:none; border-radius:0.2em;}
button, input[type=button]{border-radius:0.2em; font-weight:bold; margin:0.3em}

input.annt{background-color:transparent; 
  border:0;
  border-bottom:2px solid rgb(229, 186, 29);
  color:white;
width:80%;}

input.annt:hover, input.annt:active{
  background-color:rgba(229, 186, 29, 0.2)}


li.cat{width:100%; display:flex; flex-flow:row nowrap;}
input.cat{width:90%; border:0; border-bottom:2px solid rgb(229,186,26);
background-color:rgba(255,255,255,0.2)}

input.cpicker:{display:inline; height:1em;}

#catTab{background-color:rgb(83, 114, 9); }
        


     
        
        button.del, button.add{
            border-radius:0.2em;
            background-color:rgb(229, 186, 29);
            color:green;
            margin:0.3em;
            border:none;
                padding:0;
                font-weight:bold;
        }
        
           button.del:hover, button.add:hover{
           
            background-color:rgba(255,255,255,1);
           
            
        }
        
      ul.tabul{padding:0; display:flex; flex-flow: row nowrap; margin:0}

        ul.tabul li {list-style-type:none; 
                border: 2px solid white;
                border-bottom:none;
                background-color:green;
                border-top-right-radius:1em;
                margin:0;
                padding:0.3em;
                text-indent:0;
             
                
}

#anntList li{list-style-type:none; 
  text-indent:0; 
  margin:0;
display:flex;
flex-flow:row nowrap;}

#anntList{padding:0}


ul.tabul a {color:white; font-weight:bold; 
text-decoration:none;}

        
#cPicker{display:flex; flex-flow:row wrap; padding:0; background-color:white; margin:0; justify-content: center}
li.cPick{width:1em; height:1em; list-style-type:none; border: 1px solid black; cursor:pointer}
#cRed{background-color:rgba(255,0,0,0.5)}
#cRedblue{background-color:rgba(255,0,255,0.5)}
#cRedgreen{background-color:rgba(255,255,0,0.5)}
#cBlue{background-color:rgba(0,0,255,0.5)}
#cGreen{background-color:rgba(0,255,0,0.5)}
#cWhite{background-color:rgba(255,255,255,0.5)}
#cBlack{background-color:rgba(0,0,0,0.5)}
#cBluegreen{background-color:rgba(0,255,255,0.5)}

.cRed{background-color:rgba(255,0,0,0.5)}
.cRedblue{background-color:rgba(255,0,255,0.5)}
.cRedgreen{background-color:rgba(255,255,0,0.5)}
.cBlue{background-color:rgba(0,0,255,0.5)}
.cGreen{background-color:rgba(0,255,0,0.5)}
.cWhite{background-color:rgba(255,255,255,0.5)}
.cBlack{background-color:rgba(0,0,0,0.5)}
.cBluegreen{background-color:rgba(0,255,255,0.5)}
        
  #cats{padding:0.2em;}
#cats li{ width:100%; margin:0.3em; cursor:pointer}

li input[type=text]{width:90%;}
li button{width:5%;}
li{font-weight:bold}
    
li.active{padding-left:1em;
border-left:2px solid rgb(229, 186, 29)}

li.normal{padding-left:0;
border-left:0}

 input.editAnnt{width:50%}



 span.cColor{width:1em; height:1em; margin:0.2em; padding:0.1em; border:1px solid white; border-radius:0.2em;} 
#wInput{display:none}      
      
    
span.blank,xmp{margin:0; display:inline}

      
    
    
