<button id="gettei" ng-click="sh.tei=!sh.tei">{{teiButton(sh.tei)}}</button>
<button  id="closepath" ng-click="nShape()"  ng-show="sh.redraw==false">Draw Shape</button>
<button id="editpath" ng-click="eShape()" ng-show="sh.redraw==true">Re-draw</button>
<button id="clearpoints" ng-click="clearPoints()">Clear points</button>
<button  id="clearall" ng-click="clearShapes()">Clear shapes</button>
    <button id="delMode" ng-click="toggleDelete()">Delete</button>

    <button class="iconBig zoomIn" ng-click="zoomChng(0.1)"></button><button  class="iconBig zoomOut" ng-click="zoomChng(-0.1)"></button>
  
<div id="currentCoords">
    <p><b>x:</b> <span class="coord" id="xcordpx"> {{roundNum(crds.x)}} </span> px (<span class="coord" id="xcordpc">{{roundNum(crds.xp)}}</span> %)</p>
    <p><b>y:</b> <span class="coord" id="ycordpx"> {{roundNum(crds.y)}} </span> px (<span class="coord" id="ycordpc">{{roundNum(crds.yp)}}</span> %)</p>
<p><b>x,y:</b> <span class="coord" id="xypx">{{roundNum(crds.x)}}, {{roundNum(crds.y)}}</span></p>
</div>