<h2>TEI Markup</h2>

<div id=outputVersions>
    <button ng-repeat="v in versions" ng-click="switchVersion(v.title)" ng-class="cVersion==v.title ? 'activated':''">{{v.label}}</button>
</div>

<div class=outputCode>

<xml-graphic ng-show="cVersion=='TEI XML' " ></xml-graphic>

<xml-annotations ng-show="cVersion=='xmlPlus' " ></xml-annotations>


<json-complete id="jsonPaths" ng-show="cVersion=='JSON'" ></json-complete>


<xml-categories ng-show="cVersion=='categories'" ></xml-categories>
    
    
    <xml-complete ng-show="cVersion=='XMLcomplete'"></xml-complete>
    
</div>