<xmp>

    <?xml version="1.0" encoding="UTF-8"?>
    <TEI xmlns="http://www.tei-c.org/ns/1.0" version="5.0" xml:id="IMT-format-example">
        <teiHeader>
            <fileDesc>
                <titleStmt>
                    <title />
                </titleStmt>

                <publicationStmt>
                    <p />
                </publicationStmt>
                <sourceDesc>
                    <p>2076 x 1428</p>
                </sourceDesc>
            </fileDesc>
            <encodingDesc>
</xmp>



<xml-categories></xml-categories> 
            
            <xmp>
    <appInfo>
        <application ident="ImageMarkupTool01" version="1.8.2.0" notAfter="2018-12-21T14:54:02">
            <label> Image Markup Tool</label>
            <desc> Tool for annotating images using TEI</desc>
            <ref type="appURI" target="http://www.tapor.uvic.ca/~mholmes/image_markup/"> </ref>
            <ptr target="#imtAnnotatedImage" />
            <ptr target="#imtImageAnnotations" />
            <ptr target="#imtAnnotationCategories" />
        </application>


    </appInfo>

    </encodingDesc>
    </teiHeader>
    <facsimile xml:id="imtAnnotatedImage">
        <surface>

            </xmp>


            <xml-graphic></xml-graphic>


            <xmp>
        </surface>
    </facsimile>
    <text>

        <body>
            <div xml:id="imtImageAnnotations">
                </xmp>



                <xml-annotations></xml-annotations>
                <xmp>
            </div>
        </body>
    </text>
    </TEI>

    </xmp>